.row-sort-button {
  background-color: #555555;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sort-button-wrapper {
  width: 1120px;
  display: flex;
  justify-content: flex-end;
}
